.main-modal {
  position: fixed;
  display: flex;
  flex-flow: column nowrap;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: 9999;
}

.main-modal__link {
  width: 440px;
  height: 586px;
}

.main-modal__img {
  border-radius: 20px 20px 0 0;
}

.main-modal__close-group {
  display: flex;
}

.main-modal__btn-today-close {
  border: none;
  border-radius: 0 0 0 20px;
  width: 220px;
  height: 86px;
}

.main-modal__btn-close {
  border: none;
  border-left: 1px solid var(--gray-100);
  border-radius: 0 0 20px 0;
  width: 220px;
  height: 86px;
}

.top-bar {
  background: var(--primary);
  color: var(--white);
  text-align: center;
  height: 50px;
}

.top-bar__group {
  width: 1050px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.top-bar__link {
  display: block;
  padding: 16px 0;
}

.top-bar__btn-today-close {
  background: url(../assets/common/ic-close.svg);
  border: none;
  position: absolute;
  top: 4px;
  right: 0;
  width: 42px;
  height: 42px;
}

.side-bar {
  position: fixed;
  top: 50%;
  right: 39px;
  transform: translateY(-50%);
  border: 1px solid var(--gray-100);
  width: 74px;
  height: 224px;
  background: var(--white);
  z-index: 9998;
}

.side-bar__text {
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  margin: 8px 0;
}

.swiper-slide-3 {
  text-align: center;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide-3 img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide-3 {
  width: 80%;
  height: 35%;
  margin-left: auto;
  margin-right: auto;
}

.side-bar__top-button {
  align-self: center;
  margin: 8px 28px 0 28px;
  width: 18px;
  height: 18px;
}

.side-bar__bottom-button {
  align-self: center;
  margin: 8px 28px 8px 28px;
  width: 18px;
  height: 18px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.mySwiper {
  height: 130px;
}
