@import url(./normalize.css);
@import url(./reset.css);
@import url(./a11y.css);
@import url(./theme.css);
@import url(./base.css);
@import url(./header.css);

main {
  position: relative;
}

.swiper-message {
  overflow: hidden;
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.product-swiper-1 {
  max-width: 1920px;
  height: 370px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

img[class*='product-swiper-1__img'] {
  width: 1920px;
  height: 100%;
  object-fit: cover;
}

a[class^='swiper-slide product-swiper']:focus {
  outline: 5px auto rgba(0, 150, 255, 1);
  -webkit-outline: 5px auto rgba(0, 150, 255, 1);
  -moz-outline: 5px auto rgba(0, 150, 255, 1);
  -ms-outline: 5px auto rgba(0, 150, 255, 1);
  -o-outline: 5px auto rgba(0, 150, 255, 1);
  outline-offset: -3px;
}

.product-swiper-1__button-prev,
.product-swiper-1__button-next {
  width: 52px;
  height: 52px;
  background-image: url(../assets/main/ic-banner-button.svg);
  position: absolute;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.product-swiper-1__button-prev {
  transform: translateY(-50%);
  left: calc(360 / 1920 * 100%);
}

.product-swiper-1__button-next {
  transform: translateY(-50%) rotate(180deg);
  right: calc(360 / 1920 * 100%);
}

.swiper-1:hover .product-swiper-1__button-prev,
.swiper-1:hover .product-swiper-1__button-next,
.product-swiper-1__button-prev:focus-visible,
.product-swiper-1__button-next:focus-visible {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.product-swiper-1__pagination {
  width: 50px;
  position: absolute;
  left: calc(1420 / 1920 * 100%);
  bottom: 20px;
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.2);
  color: var(--white);
  font-weight: 300;
  padding: 2px 5px;
}

.recommend-product {
  margin: 80px 0 40px 0;
  width: 100%;
  position: relative;
  z-index: 1;
}

.swiper-title {
  line-height: 40px;
  margin-bottom: 40px;
  font-weight: bold;
  font-size: var(--text-xl);
  text-align: center;
}

.swiper-2,
.swiper-3 {
  width: var(--container-width);
  height: 432px;
  margin-left: auto;
  margin-right: auto;
  /* position: relative; */
  overflow: hidden;
  /* z-index: 1; */
}

.swiper-2 .swiper-wrapper {
  position: relative;
  padding-top: 3px;
}

div[class^='swiper-slide product-swiper']:focus {
  outline: 5px auto rgba(0, 150, 255, 1);
  -webkit-outline: 5px auto -webkit-focus-ring-color;
  -moz-outline: 5px auto -moz-focus-ring-color;
  -ms-outline: 5px auto -ms-focus-ring-color;
  -o-outline: 5px auto -o-focus-ring-color;
  outline-offset: 1px;
  border-radius: 5px;
}

.swiper-2 .swiper-slide {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 249px;
  height: 426px;
}

.swiper-2 .swiper-slide img {
  width: 249px;
  height: 320px;
  object-fit: cover;
  position: relative;
  /* z-index: 1; */
}

.swiper-2 .swiper-slide button {
  all: unset;
  width: 45px;
  height: 45px;
  background: url(../assets/main/ic-add-cart.svg) no-repeat;
  background-position: center;
  position: absolute;
  left: 189px;
  top: 258px;
  z-index: 3;
}

.swiper-2 .swiper-slide button:focus,
.swiper-3 .swiper-slide button:focus {
  outline: 5px auto rgba(0, 150, 255, 1);
  -webkit-outline: 5px auto rgba(0, 150, 255, 1);
  -moz-outline: 5px auto rgba(0, 150, 255, 1);
  -ms-outline: 5px auto rgba(0, 150, 255, 1);
  -o-outline: 5px auto rgba(0, 150, 255, 1);
  outline-offset: revert;
  border-radius: 100%;
}

.swiper-3 .swiper-wrapper {
  position: relative;
  padding-top: 3px;
}

.swiper-3 .swiper-slide {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 249px;
  height: 426px;
}

.swiper-3 .swiper-slide img {
  width: 249px;
  height: 320px;
  object-fit: cover;
  position: relative;
  z-index: 1;
}
.swiper-3 .swiper-slide button {
  all: unset;
  width: 45px;
  height: 45px;
  background: url(../assets/main/ic-add-cart.svg) no-repeat;
  background-position: center;
  position: absolute;
  left: 189px;
  top: 258px;
  z-index: 3;
}

.product-name {
  margin-top: var(--spacing-base);
}

.product-price {
  margin-top: var(--spacing-base);
  font-size: var(--text-lg);
  font-weight: 600;
}

.sale-percent {
  margin-right: var(--spacing-xs);
  color: var(--accent-yellow);
}

.first-price {
  margin-top: var(--spacing-xs);
  font-size: var(--text-sm);
  color: var(--gray-400);
  text-decoration: line-through;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

.swiper-2 .swiper-button-prev,
.swiper-2 .swiper-button-next {
  position: absolute;
  z-index: 100;
  width: 60px;
  height: 60px;
  background: url(../assets/main/ic-product-swiper-arrow.svg) no-repeat;
  background-position: center;
  top: 50%;
}

.swiper-2 .swiper-button-prev {
  transform: translateY(-50%) rotate(180deg);
  right: 50%;
  margin: auto 480px auto 0px;
  left: auto;
}

.swiper-2 .swiper-button-next {
  transform: translateY(-50%);
  left: 50%;
  margin: auto 0px auto 480px;
  right: auto;
}

.ad-banner {
  width: 100%;
  height: 219px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px auto 40px auto;
}

.ad-banner img {
  width: var(--container-width);
  height: 100%;
}

.sale-product {
  margin: 52px 0 40px 0;
  width: 100%;
}

.swiper-3 .swiper-button-prev,
.swiper-3 .swiper-button-next {
  width: 60px;
  height: 60px;
  background: url(../assets/main/ic-product-swiper-arrow.svg) no-repeat;
  background-position: center;
  position: absolute;
  top: 50%;
  z-index: 100;
}

.swiper-3 .swiper-button-prev {
  transform: translateY(-50%) rotate(180deg);
  right: 50%;
  margin: auto 480px auto 0px;
  left: auto;
}

.swiper-3 .swiper-button-next {
  transform: translateY(-50%);
  left: 50%;
  margin: auto 0px auto 480px;
  right: auto;
}

.sale-product {
  position: relative;
  z-index: 1;
}
