@import url(./normalize.css);
@import url(./reset.css);
@import url(./a11y.css);
@import url(./theme.css);
@import url(./base.css);

.header{
  width: 100%;
  height: 2000px;
  border: 4px solid;
  border-color: var(--secondary);
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #333333;
}

.container{
  width: 1050px;
  position: relative;
}

.divider {
  margin: 0 12px 0 12px;
  color: #D9D9D9;
}

.header-container {
  display: flex;
}

/* 헤더 중앙 영역 (세로) */
.header-container--mid {
  margin-top: 24px;
  height: 80px;
  position: relative;
  justify-content: center;
  align-items: center;
  
}

.header-container__logo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  color: var(--gray-400);
}


.header-container__karly {
  margin-left: var(--spacing-sm);
}

.header-container__karly > li {
  font-size: 21px;
  line-height: 150%;
  font-weight: 500;
}

.beautiKarly{
  position: relative;
}

.beautiKarly:hover{
  color: var(--primary);
}

.new{
  position: absolute;
  top: 4px;
  right: -8px;
}

.header-container__karly__focus {
  color: #5F0080;
}

/* Form 영역 */
.searchForm{
  width: 400px;
  height: 52px;
  position: relative;
  border: 1px solid #5F0080;
  border-radius: 8px;
}

.searchForm-fixed{
  width: 100%;
  height: 36px;
  margin: 0 20px;
  border: none;
  background-color: var(--gray-50);
}

.searchBar{
  width: 100%;
  height: 100%;
  padding: 12px 20px;
  border: none;
  background: none;
}

.searchBar:focus{
  outline: none;
}

.searchButton{
  border: none;
  background: none;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.header-container__account-menu {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  gap: 20px;
}

.header-container__account-menu > li {
  width: 36px;
  height: 36px;
}

/* 로그인 영역 */
.account__down-arrow {
  margin-left: 4px;
}

.account {
  display: flex;
  justify-content: end;
  font-size: var(--text-xs);
  padding-top: var(--spacing-sm);
  position: absolute;
  right: 0;
  top: 0;
}

/* 헤더 하단 영역 (세로) */
/* 이번엔 그리드로 구현 */
.header-container--bottom{
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  height: 60px;
  align-items: center;
  line-height: 150%;
  font-size: 16px;
  font-weight: 600;
}

.header-container--bottom-fixed{
  position: fixed;
  top: 0;
  grid-template-columns: 120px 480px 250px 200px;
}

.header-container__category{
  height: 60px;
  line-height: 60px;
  position: relative;
}

.header-container__category:hover{
  cursor: pointer;
}

.header-container__category-list{
  position: absolute;
  border: var(--gray-200) solid 1px;
  top: 60px;
  left: 4px;
  background: #fff;
  display: none;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 80vh;
}

.header-container__category-list>li:hover {
  background: var(--gray-100);
  color: var(--primary);
}

.header-container__category-list>li:focus {
  background: var(--gray-100);
  color: var(--primary);
}

.header-container__category-list > li {
  width: 240px;
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 12px;
}

.header-container__category-img{
  margin-right: 8px;
}

.header-container__product-menu{
  display: flex;
  justify-content: center;
}

.header-container__product-item {
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-container__product-item:hover{
  color: var(--primary);
  text-decoration: underline;
  text-underline-offset: 4px;
}

.header-container--bottom-last{
    display: flex;
    justify-content: end;
}

.header-container__delivery-information{
  border: var(--gray-300) solid 1px;
  height: 28px;
  width: 120px;
  border-radius: 14px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-container__delivery-information span {
  color: var(--primary);
}

.header__shadow-line{
  width: 100%;
  height: 1px;
  position: fixed;
  top: 60px;
  box-shadow: 1px 1px 2px 1px var(--gray-200);
  background: var(--gray-100);
  display: none;
 
}